html {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  background-color: rgb(255, 242, 242);
}

body {

}

a, p {
  color: rgb(74, 74, 74);
}

a {
  font-weight: bold;
  font-size: 1rem;
}

#match-game {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32, 64, 86);
}

.container {
  margin-top: 5.25rem;
  background-color: rgb(255, 242, 242);
}

div.card { /*Why does only div.card work here and not just .card for creating the intended background color?*/
  height: 12.5rem;
  border: 4px solid #ffffff;
  border-radius: 8px;
  background-color: rgb(32, 64, 86);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Note that "cursor: default;" results in the arrow."*/
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);
}
